@import url(../../node_modules/normalize.css/normalize.css);

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSansNarrow-Bold.woff") format("woff"), url("../fonts/PTSansNarrow-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSansNarrow-Regular.woff") format("woff"), url("../fonts/PTSansNarrow-Regular.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  background-color: #242424;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.button {
  display: block;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.button--light {
  color: #000000;
  border: 1px solid #e5ddd5;
}

.button--light:hover {
  border-color: #d5c9bd;
}

.button--light:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
}

.button--dark {
  color: #ffffff;
  border: 1px solid #3d3d3d;
}

.button--dark:hover {
  border-color: #515151;
}

.button--dark:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
  border-color: #252525;
}

.page-body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  background-color: #242424;
}

.container {
  padding: 0 20px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header--inner {
  position: relative;
  z-index: 1;
}

.page-header__logo {
  height: 85px;
  text-align: center;
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

.main-nav {
  position: relative;
  min-height: 51px;
  background-color: #826550;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 17px;
  width: 36px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 17px;
  width: 36px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main-nav--opened .main-nav__toggle:active::before {
  background: rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle:active::after {
  background: rgba(255, 255, 255, 0.3);
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-list__item a {
  display: block;
  padding: 12px 21px 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}

.site-list__item a[href]:active {
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}

.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  background-color: #6a4d38;
  border-top: 1px solid #6a4d38;
  border-bottom: 1px solid #71543f;
}

.user-list__item a {
  display: block;
  padding: 12px 21px 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.user-list__item a:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}

.user-list__item a:active {
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}

.user-list__link-icon {
  position: absolute;
  top: 16px;
  left: 21px;
  fill: #ffffff;
  opacity: 0.3;
}

.user-list__item .user-list__link--login {
  position: relative;
  padding-left: 49px;
}

.user-list__item .user-list__link--login:hover .user-list__link-icon {
  opacity: 1;
}

.user-list__item .user-list__link--login:active .user-list__link-icon {
  opacity: 0.3;
}

.stats__header {
  padding: 30px 40px 25px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats__intro {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}

.stats__list {
  width: 100%;
  border-collapse: collapse;
}

.stats__list tr {
  color: #ffffff;
  background-color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}

.stats__list tr:nth-child(3) {
  background-color: #353535;
}

.stats__list tr:nth-child(4) {
  background-color: #404040;
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}

.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.stats__legend--top {
  display: none;
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424;
}

.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}

.advantages {
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
}

.advantages::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -34px;
  left: 0;
  height: 35px;
  width: 100%;
  background: url("../img/corner-darkgray.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.advantages__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__slider .slick-list {
  overflow: hidden;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 87.5vw;
  margin: 0 6.25vw;
  padding: 170px 20px 30px 20px;
  text-align: center;
  color: #ffffff;
}

.advantages__item--fast {
  background-image: url("../img/advantage-1-illustration.svg");
  background-repeat: no-repeat;
  background-size: 96px 96px;
  background-position: 50% 14.3%;
}

.advantages__item--cool {
  background-image: url("../img/advantage-2-illustration.svg");
  background-repeat: no-repeat;
  background-size: 96px 96px;
  background-position: 50% 14.3%;
}

.advantages__item--expensive {
  background-image: url("../img/advantage-3-illustration.svg");
  background-repeat: no-repeat;
  background-size: 96px 96px;
  background-position: 50% 14.3%;
}

.advantages__title {
  margin: 0 0 15px 0;
  font-size: 30px;
  line-height: 30px;
}

.advantages__description {
  margin: 0 auto;
  font-size: 20px;
  line-height: 27px;
}

.advantages__toggles-wrapper {
  width: 80px;
  margin: 0 auto;
}

.advantages__toggles-wrapper .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12px;
}

.advantages__toggles-wrapper button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  border: 2px solid #f8f5f2;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.advantages__toggles-wrapper .slick-active button {
  background-color: #f8f5f2;
}

.news {
  padding: 70px 20px 30px;
  color: #000000;
  background-color: #f8f5f2;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__item {
  display: none;
  margin-top: 20px;
  border-bottom: 1px solid #e5ddd5;
}

.news__item:nth-child(-n+2) {
  display: block;
}

.news__item:nth-last-child(1) {
  border-bottom: none;
}

.news__list--opened .news__item {
  display: block;
}

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  text-decoration: none;
}

.news__link:hover .news__date {
  background-color: #826550;
}

.news__link:hover .news__date::after {
  border-top-color: #826550;
}

.news__link:hover .news__text {
  color: #826550;
  text-decoration: underline;
}

.news__link:active .news__date {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}

.news__link:active .news__date::after {
  border-top-color: #6a4d38;
}

.news__link:active .news__text {
  color: #6a4d38;
  text-decoration: underline;
}

.news__title {
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__date {
  position: relative;
  display: block;
  margin-top: 10px;
  min-width: 50px;
  height: 50px;
  padding: 3px 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}

.news__date::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #000000;
  border-right-width: 25px;
  border-bottom: none;
  border-left-width: 25px;
  bottom: -10px;
  height: 0;
}

.news__day {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.news__text {
  margin: 0 0 35px 20px;
  font-size: 18px;
  line-height: 27px;
}

.reviews {
  position: relative;
  z-index: 1;
  padding: 30px 0 15px;
  color: #000000;
  background-color: #f8f5f2;
  border-top: 1px solid #e5ddd5;
}

.reviews::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -34px;
  left: 0;
  height: 35px;
  width: 100%;
  background: url("../img/corner-lightgray.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews__wrapper {
  max-width: none;
  margin: 0;
}

.reviews__slider-wrapper {
  position: relative;
  overflow: hidden;
}

.reviews__slider {
  margin-bottom: 30px;
  overflow: hidden;
}

.reviews__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87.5vw;
  margin: 0 6.25vw;
}

.reviews__title {
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__author-picture {
  margin: 10px 0 0 0;
}

.reviews__author-picture img {
  border: 1px solid #e5ddd5;
}

.reviews__author-text {
  margin: 0 0 0 20px;
  font-size: 18px;
  line-height: 27px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
}

.reviews__write {
  display: none;
}

.reviews__buttons-wrapper {
  display: none;
}

.reviews__buttons-wrapper .slick-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.reviews__buttons-wrapper .slick-prev::before {
  border-top: 6px solid transparent;
  border-right: 12px solid #000000;
  border-bottom: 6px solid transparent;
}

.reviews__buttons-wrapper .slick-next::before {
  border-top: 6px solid transparent;
  border-left: 12px solid #000000;
  border-bottom: 6px solid transparent;
}

.reviews__toggles-wrapper {
  width: 80px;
  margin: 0 auto;
}

.reviews__toggles-wrapper .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12px;
}

.reviews__toggles-wrapper button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  border: 2px solid #242424;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews__toggles-wrapper .slick-active button {
  background-color: #242424;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0 25px;
  color: #ffffff;
  background-color: #242424;
}

.page-footer__contacts,
.page-footer__copyright {
  margin-bottom: auto;
}

.contacts {
  margin-bottom: 25px;
  padding: 0 20px;
  text-align: center;
}

.contacts__title {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.contacts__text {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 27px;
}

.contacts__phone {
  display: block;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 1px solid #3d3d3d;
  background-color: transparent;
}

.contacts__phone-mobile {
  display: none;
}

.social__title {
  display: none;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #3e3e3e;
}

.social__item:hover {
  border-color: #515151;
}

.social__item:active {
  background-color: #252525;
  border-color: #252525;
  opacity: 0.3;
}

.social__link {
  display: block;
  height: 100px;
}

.social__link--vkontakte {
  background: url("../img/vk-big.png") no-repeat 50% 50%;
}

.social__link--facebook {
  background: url("../img/fb-big.png") no-repeat 50% 50%;
}

.social__link--instagram {
  background: url("../img/ig-big.png") no-repeat 50% 50%;
}

.copyright {
  padding: 30px 20px 0;
}

.copyright__text {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  font-weight: normal;
}

.order {
  color: #000000;
  background-color: #f8f5f2;
  position: relative;
  z-index: 1;
}

.order::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -34px;
  left: 0;
  height: 35px;
  width: 100%;
  background: url("../img/corner-lightgray.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.order__wrapper {
  padding: 30px 20px 40px;
}

.order__header {
  margin-bottom: 28px;
}

.order__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.order__to-main {
  display: none;
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__full-name,
.order-form__contacts {
  margin-bottom: 32px;
}

.order-form__input {
  margin-bottom: 6px;
  width: 100%;
  padding: 14px 18px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
}

.order-form__input::-webkit-input-placeholder {
  color: #000000;
}

.order-form__input::-moz-placeholder {
  color: #000000;
}

.order-form__input:-ms-input-placeholder {
  color: #000000;
}

.order-form__input::-ms-input-placeholder {
  color: #000000;
}

.order-form__input::placeholder {
  color: #000000;
}

.order-form__input:hover {
  border-color: #d5c9bd;
}

.order-form__input:active {
  border-color: #999999;
}

.order-form__input .order-form__input:nth-last-child(1) {
  margin-bottom: 0;
}

.order-form__comment-text {
  margin-bottom: 40px;
  width: 100%;
  height: 112px;
  padding: 14px 18px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
  resize: none;
}

.order-form__comment-text::-webkit-input-placeholder {
  color: #000000;
}

.order-form__comment-text::-moz-placeholder {
  color: #000000;
}

.order-form__comment-text:-ms-input-placeholder {
  color: #000000;
}

.order-form__comment-text::-ms-input-placeholder {
  color: #000000;
}

.order-form__comment-text::placeholder {
  color: #000000;
}

.order-form__submit {
  margin-top: 47px;
  width: 100%;
  padding: 13px;
  color: #ffffff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #826550;
  cursor: pointer;
}

.order-form__submit:hover {
  background-color: #6a4d38;
}

.order-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}

.order-form__submit:disabled {
  background-color: #aeaeae;
}

.model-options__title {
  margin-bottom: 38px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.model-options__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.model-options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.model-options__radio {
  display: none;
}

.model-options__label {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90px;
  margin-bottom: 15px;
  padding-top: 64px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.model-options__label::before,
.model-options__label::after {
  content: "";
  position: absolute;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.model-options__label::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-transition: border-color .1s linear,-webkit-box-shadow .1s linear;
  transition: border-color .1s linear,-webkit-box-shadow .1s linear;
  transition: border-color .1s linear,box-shadow .1s linear;
  transition: border-color .1s linear,box-shadow .1s linear,-webkit-box-shadow .1s linear;
  top: 3px;
  width: 50px;
  height: 50px;
  border: 1px solid #e5ddd5;
}

.model-options__label::after {
  top: 18px;
  z-index: -1;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
}

.model-options__label:hover::before {
  border-color: #d5c9bd;
}

.model-options__label:active::before {
  -webkit-box-shadow: inset 0 0 0 15px #d5c9bd;
          box-shadow: inset 0 0 0 15px #d5c9bd;
}

.model-options__radio:checked ~ .model-options__label::after {
  z-index: 5;
  border: 1px solid #e5ddd5;
}

.model-options__radio:checked ~ .model-options__label:hover::before {
  border-color: #d5c9bd;
}

.model-options__radio:checked ~ .model-options__label:hover::after {
  border-color: #d5c9bd;
}

.model-options__radio:checked ~ .model-options__label:active::before {
  -webkit-box-shadow: inset 0 0 0 15px #d5c9bd;
          box-shadow: inset 0 0 0 15px #d5c9bd;
}

.model-options__radio:checked ~ .model-options__label:active::after {
  -webkit-box-shadow: inset 0 0 0 50px #d5c9bd;
          box-shadow: inset 0 0 0 50px #d5c9bd;
}

.model-options__item svg {
  margin: 0 auto;
}

.additional-services {
  margin-bottom: 0;
}

.additional-services__title {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}

.additional-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-services__item {
  margin-bottom: 20px;
}

.additional-services__item:nth-last-child(1) {
  margin-bottom: 0;
}

.additional-services__checkbox {
  display: none;
}

.additional-services__label {
  position: relative;
  padding: 10px 0 9px 60px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.additional-services__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
}

.additional-services__checkbox:checked + .additional-services__label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio {
  color: #000000;
  background-color: #f8f5f2;
  position: relative;
  z-index: 1;
  z-index: 2;
}

.portfolio::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -34px;
  left: 0;
  height: 35px;
  width: 100%;
  background: url("../img/corner-lightgray.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio__wrapper {
  padding: 30px 20px 35px;
}

.portfolio__header {
  margin-bottom: 28px;
}

.portfolio__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio__to-main {
  display: none;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__item:nth-last-child(1) {
  margin-bottom: 0;
}

.portfolio__image-wrapper {
  margin: 0;
  background-color: #fff0df;
}

.portfolio__image {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: auto;
}

.portfolio__text-wrapper {
  padding: 20px 10px 0;
  border: 1px solid #e5ddd5;
  border-top: 0;
}

.portfolio__services {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__service {
  margin-bottom: 25px;
  width: 50%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.portfolio__service--haircut {
  padding-left: 35px;
  background-image: url("../img/scissors-icon.svg");
  background-size: 21px 20px;
  background-position: 12% 50%;
}

.portfolio__service--shaving {
  padding-left: 15px;
  background-image: url("../img/beard-icon.svg");
  background-size: 24px 21px;
  background-position: 9% 50%;
}

.portfolio__service--beard {
  padding-left: 23px;
  background-image: url("../img/beard-icon.svg");
  background-size: 24px 21px;
  background-position: 9% 50%;
}

.portfolio__service--mustache {
  padding-left: 20px;
  background-image: url("../img/mustache-icon.svg");
  background-size: 46px 12px;
  background-position: 0% 50%;
}

.review-portfolio {
  margin: 0 12px 20px;
}

.review-portfolio__autor {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

.review-portfolio__autor cite {
  font-style: normal;
}

.review-portfolio__author-text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.prices {
  color: #ffffff;
  background-color: #353535;
  position: relative;
  z-index: 1;
}

.prices::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -34px;
  left: 0;
  height: 35px;
  width: 100%;
  background: url("../img/corner-gray.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.prices__wrapper {
  padding: 70px 20px 40px;
}

.prices__title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.prices__discount {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.prices__condition {
  margin: 0 auto;
  width: 145px;
  padding: 20px 20px 20px 113px;
  font-size: 20px;
  line-height: 27px;
  background-image: url("../img/clock.svg");
  background-size: 58px 58px;
  background-position: 10% 50%;
  background-repeat: no-repeat;
}

.prices-list {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.prices-list tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.prices-list tr:nth-last-child(1) {
  margin-bottom: 0;
}

.prices-list td {
  padding: 0;
  font-size: 20px;
  line-height: 27px;
}

.prices-list .prices-list__number {
  display: none;
}

.prices-list .prices-list__name {
  min-width: 190px;
  width: 68%;
  font-weight: bold;
  text-align: start;
}

.prices-list .prices-list__value {
  min-width: 75px;
  width: 27%;
  text-align: end;
}

.prices-list .prices-list__washing {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
}

@media (min-width: 500px) {
  .model-options__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 65px;
  }

  .page-header {
    background-color: #000000;
  }

  .page-header--inner::after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -1px;
    left: 0;
    height: 40px;
    width: 100%;
    background: url("../img/corner-double.svg") no-repeat;
  }

  .page-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 1338px auto;
  }

  .page-header__logo--inner {
    height: 215px;
  }

  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 40px auto 0;
  }

  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .site-list {
    width: 780px;
  }

  .site-list__item {
    margin-right: 32px;
    background: none;
    border: none;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item--active {
    position: relative;
    color: #ffffff;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background-color: #826550;
  }

  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }

  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }

  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }

  .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .user-list__item {
    margin-right: 32px;
    background: none;
    border: none;
  }

  .user-list__item:last-child {
    margin-right: 0;
  }

  .user-list__item a:hover {
    color: #826550;
    background-color: #000000;
  }

  .user-list__item a:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }

  .user-list__link-icon {
    top: 29px;
    left: 6px;
  }

  .user-list__item .user-list__link--login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }

  .user-list__item .user-list__link--login:hover .user-list__link-icon {
    fill: #826550;
    opacity: 1;
  }

  .user-list__item .user-list__link--login:active .user-list__link-icon {
    fill: #ffffff;
    opacity: 0.3;
  }

  .stats {
    margin: -185px auto 0;
    width: 84%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stats__header {
    position: relative;
    min-height: 129px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }

  .stats__intro {
    min-width: 205px;
    width: 37.5%;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 30px;
    text-align: left;
  }

  .stats__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .stats__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }

  .stats__list tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 25px 25px 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats__field br {
    content: "";
  }

  .stats__field br::after {
    content: "\00a0";
  }

  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
    text-align: left;
  }

  .stats__legend--bottom {
    display: none;
  }

  .advantages::after {
    bottom: -39px;
    height: 40px;
  }

  .advantages {
    padding: 0 65px 10px;
  }

  .advantages__item {
    width: auto;
    margin: 0 35px 0 30px;
    padding: 40px 0 40px 125px;
    text-align: start;
  }

  .advantages__item--fast,
  .advantages__item--cool {
    border-bottom: 1px solid #4a4a4a;
  }

  .advantages__item--fast,
  .advantages__item--cool,
  .advantages__item--expensive {
    background-position: 0% 50%;
  }

  .advantages__description {
    width: 100%;
  }

  .advantages__toggles-wrapper {
    width: 126px;
    padding: 0 25px;
  }

  .news {
    padding: 85px 65px 30px;
  }

  .news__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .news__list {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .news__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-right: 40px;
    border-bottom: none;
  }

  .news__title {
    width: 50%;
    margin-bottom: 50px;
    text-align: start;
  }

  .news__title {
    margin-left: 70px;
  }

  .news__to-all {
    width: 160px;
    margin-bottom: auto;
  }

  .reviews::after {
    bottom: -39px;
    height: 40px;
  }

  .reviews {
    padding: 35px 0 65px;
  }

  .reviews::after {
    content: none;
  }

  .reviews__wrapper {
    padding-top: 120px;
    position: relative;
  }

  .reviews__slider-wrapper {
    width: 100vw;
    padding: 10px 0;
  }

  .reviews__slider {
    width: 70.3vw;
    margin: 0 14.85vw 0;
  }

  .reviews__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 70.3vw;
    margin: 0;
    padding: 30px 50px 40px 30px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }

  .reviews__item:nth-child(2),
  .reviews__item:nth-child(3) {
    display: none;
  }

  .reviews__title {
    position: absolute;
    top: 0;
    left: 65px;
    text-align: start;
  }

  .reviews__author-picture {
    margin: 0;
  }

  .reviews__author-picture img {
    border: 0;
    border-radius: 50%;
  }

  .reviews__author-text {
    margin-left: 30px;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 65px;
    display: block;
    width: 160px;
  }

  .reviews__buttons-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(70.3vw + 100px);
  }

  .reviews__buttons-wrapper .slick-arrow {
    position: relative;
    width: 50px;
    height: 163px;
    padding: 0;
    font-size: 0;
    border: 1px solid #e5ddd5;
    background-color: transparent;
  }

  .reviews__toggles-wrapper {
    position: absolute;
    bottom: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 126px;
    padding: 0 25px;
    background-color: #f8f5f2;
  }

  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 55px 65px 60px;
  }

  .page-footer__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contacts {
    text-align: start;
  }

  .contacts__text {
    margin: 0;
  }

  .contacts__phone {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-align: start;
    font-weight: normal;
    border: none;
  }

  .contacts__phone-mobile {
    display: inline-block;
  }

  .social {
    width: 100%;
  }

  .copyright {
    width: 160px;
    padding: 0;
  }

  .order::after {
    bottom: -39px;
    height: 40px;
  }

  .order::after {
    content: none;
  }

  .order__wrapper {
    padding: 55px 65px 75px;
  }

  .order__header {
    margin-bottom: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .order__title {
    font-size: 40px;
    line-height: 40px;
    text-align: start;
  }

  .order__to-main {
    display: block;
    margin-bottom: auto;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
  }

  .order-form__full-name,
  .order-form__contacts {
    margin-bottom: 35px;
  }

  .order-form__full-name .order-form__fields-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .order-form__input {
    margin-bottom: 0px;
    padding: 23px 24px 25px;
    font-size: 24px;
    line-height: 30px;
  }

  .order-form__contacts .order-form__input {
    margin-bottom: 35px;
  }

  .order-form__contacts .order-form__input:nth-last-child(1) {
    margin-bottom: 0;
  }

  .order-form__comment-text {
    margin-bottom: 55px;
    padding: 23px 24px 25px;
    font-size: 24px;
    line-height: 30px;
    height: 210px;
  }

  .order-form__submit {
    padding: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  .model-options__title {
    margin-bottom: 40px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .model-options__title::before {
    content: "";
    margin-right: 26px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 1px;
    background-color: #e5ddd5;
  }

  .model-options__title::after {
    content: "";
    margin-left: 26px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 1px;
    background-color: #e5ddd5;
  }

  .model-options__list {
    margin-bottom: 60px;
  }

  .model-options__item {
    margin-bottom: 0;
  }

  .model-options__label {
    font-size: 24px;
  }

  .additional-services__title {
    margin-bottom: 40px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .additional-services__title::before {
    content: "";
    margin-right: 26px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 1px;
    background-color: #e5ddd5;
  }

  .additional-services__title::after {
    content: "";
    margin-left: 26px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 1px;
    background-color: #e5ddd5;
  }

  .additional-services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .additional-services__item {
    width: 50%;
  }

  .additional-services__label {
    font-size: 24px;
  }

  .portfolio::after {
    bottom: -39px;
    height: 40px;
  }

  .portfolio__wrapper {
    padding: 55px 65px 75px;
  }

  .portfolio__header {
    margin-bottom: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio__title {
    font-size: 40px;
    line-height: 40px;
    text-align: start;
  }

  .portfolio__to-main {
    display: block;
    margin-bottom: auto;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
  }

  .portfolio__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
    padding: 0;
  }

  .portfolio__image-wrapper {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .portfolio__image {
    width: 270px;
  }

  .portfolio__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 40px 55px 15px 50px;
    border: 1px solid #e5ddd5;
    border-left: 0;
  }

  .portfolio__services {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .review-portfolio {
    margin: 0;
  }

  .review-portfolio__autor {
    margin-bottom: 30px;
  }

  .prices::after {
    bottom: -39px;
    height: 40px;
  }

  .prices::after {
    content: none;
  }

  .prices__wrapper {
    padding: 85px 65px 58px;
  }

  .prices__title {
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 40px;
    text-align: start;
  }

  .prices__discount {
    margin-bottom: 0;
  }

  .prices__discount {
    max-height: 275px;
  }

  .prices__condition {
    margin: 0;
    width: auto;
    padding: 40px 103px 40px 185px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background-position: 5% 50%;
    background-size: 72px 72px;
  }

  .prices-list {
    margin-bottom: 10px;
  }

  .prices-list tr {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }

  .prices-list td {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 0;
    width: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .prices-list .prices-list__number {
    display: block;
    padding: 13px 31px;
    color: #868686;
  }

  .prices-list .prices-list__name {
    min-width: 250px;
  }

  .prices-list .prices-list__value {
    min-width: 150px;
  }

  .prices-list .prices-list__washing {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    min-width: 160px;
    text-align: center;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-tablet.jpg");
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }

  .page-header--inner::after {
    height: 65px;
  }

  .page-header__logo {
    height: 648px;
    background-image: url("../img/bg-desktop.jpg");
    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo--inner {
    height: 305px;
  }

  .page-header__logo img {
    margin-top: 57px;
  }

  .main-nav__wrapper {
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    padding: 0 120px;
  }

  .site-list__item {
    margin-right: 0;
  }

  .site-list__item--active::after {
    right: 30px;
    left: 30px;
  }

  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }

  .user-list {
    width: auto;
    max-width: 160px;
  }

  .user-list__item a:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .user-list__item a:active {
    color: #b2b2b2;
    background-color: #ffffff;
    opacity: 1;
  }

  .user-list__item .user-list__link--login {
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  .user-list__item .user-list__link--login:hover .user-list__link-icon {
    fill: #b2b2b2;
    opacity: 1;
  }

  .user-list__item .user-list__link--login:active .user-list__link-icon {
    fill: #e5e5e5;
    opacity: 1;
  }

  .user-list__item .user-list__link--login .user-list__link-icon {
    left: 15px;
  }

  .stats {
    margin: -160px auto 0;
    max-width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .stats__header {
    width: 33.3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stats__header::before {
    top: 22px;
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
  }

  .stats__list {
    width: 66.7%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .stats__list tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stats__legend--top {
    margin-top: auto;
    width: auto;
  }

  .advantages::after {
    bottom: -64px;
    height: 65px;
  }

  .advantages {
    padding: 0 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .advantages__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .advantages__item {
    width: 33.3%;
    margin: 0;
    padding: 205px 40px 40px 40px;
    text-align: center;
  }

  .advantages__item--fast,
  .advantages__item--cool {
    border-bottom: none;
  }

  .advantages__item--fast,
  .advantages__item--cool,
  .advantages__item--expensive {
    background-position: 50% 30%;
  }

  .news {
    padding: 120px 0 30px;
  }

  .news__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .news__item {
    display: block;
    width: 33%;
    padding-right: 50px;
  }

  .reviews::after {
    bottom: -64px;
    height: 65px;
  }

  .reviews {
    overflow: hidden;
    padding: 35px 0 45px;
  }

  .reviews__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .reviews__slider {
    width: 820px;
    margin: 0 calc((100vw - 820px) / 2) 40px;
  }

  .reviews__item {
    width: 820px;
    padding: 0;
    border: 1px solid #e5e5e5;
  }

  .reviews__title {
    left: calc(((100vw - 1200px) / 2) + 190px);
  }

  .reviews__author-picture img {
    border-radius: 0;
  }

  .reviews__author-text {
    margin: 30px 80px 35px 70px;
  }

  .reviews__write {
    right: calc(((100vw - 1200px) / 2) + 120px);
  }

  .reviews__buttons-wrapper {
    top: calc(50% - 21px);
    width: 960px;
  }

  .page-footer {
    margin: 0 auto;
    max-width: 1200px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 55px 120px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .page-footer__social {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .page-footer__contacts,
  .page-footer__copyright {
    margin-bottom: 0;
  }

  .contacts {
    margin: 0;
    padding: 0;
    width: 33.3%;
  }

  .social {
    width: 33.3%;
  }

  .social__title {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  .social__list {
    width: 165px;
    margin: 0 auto;
  }

  .social__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50px;
    height: 50px;
  }

  .social__link {
    height: 50px;
  }

  .social__link--vkontakte {
    background: url("../img/vk-small.png") no-repeat 50% 50%;
  }

  .social__link--facebook {
    background: url("../img/fb-small.png") no-repeat 50% 50%;
  }

  .social__link--instagram {
    background: url("../img/ig-small.png") no-repeat 50% 50%;
  }

  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33.3%;
  }

  .copyright__text {
    margin: 0 50px 15px auto;
  }

  .copyright__link {
    width: 160px;
    margin-left: auto;
  }

  .order::after {
    bottom: -64px;
    height: 65px;
  }

  .order__wrapper {
    padding: 55px 0 85px;
  }

  .order-form__full-name .order-form__fields-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .order-form__full-name .order-form__input {
    width: 30.8%;
  }

  .order-form__contacts .order-form__input {
    margin-bottom: 0;
  }

  .order-form__contacts .order-form__fields-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .order-form__contacts .order-form__input {
    width: 48%;
  }

  .order-form__comment-text {
    margin-bottom: 70px;
  }

  .additional-services__title {
    margin-bottom: 70px;
  }

  .additional-services__item {
    width: 33.3%;
    margin-bottom: 47px;
  }

  .portfolio::after {
    bottom: -64px;
    height: 65px;
  }

  .portfolio::after {
    content: none;
  }

  .portfolio__wrapper {
    padding: 55px 0 90px;
  }

  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portfolio__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    width: 293px;
  }

  .portfolio__item--month-work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
  }

  .portfolio__item--month-work .portfolio__image {
    width: 480px;
  }

  .portfolio__item--month-work .portfolio__text-wrapper {
    padding: 130px 110px 10px 40px;
    border: 1px solid #e5ddd5;
    border-left: 0;
  }

  .portfolio__item--month-work .portfolio__service {
    text-align: end;
  }

  .portfolio__item--month-work .portfolio__service--haircut {
    width: 92px;
  }

  .portfolio__item--month-work .portfolio__service--shaving {
    width: 86px;
  }

  .portfolio__item--month-work .portfolio__service--beard {
    width: 86px;
  }

  .portfolio__item--month-work .portfolio__service--mustache {
    width: 82px;
  }

  .portfolio__image {
    width: 100%;
  }

  .portfolio__text-wrapper {
    padding: 30px 30px 5px;
    border: 1px solid #e5ddd5;
    border-top: 0;
  }

  .portfolio__service--haircut {
    background-position: 0% 50%;
  }

  .portfolio__service--shaving {
    background-position: 0% 50%;
  }

  .portfolio__service--beard {
    background-position: 0% 50%;
  }

  .portfolio__service {
    background-position: 0% 50%;
  }

  .review-portfolio {
    margin-bottom: 30px;
  }

  .prices::after {
    bottom: -64px;
    height: 65px;
  }

  .prices__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 55px 0 85px;
  }

  .prices__title {
    width: 100%;
  }

  .prices__condition {
    margin-bottom: 0;
    padding: 195px 75px 25px;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    background-position: 50% 25%;
    background-size: 141px 141px;
  }

  .prices-list {
    margin-bottom: 0;
    width: 630px;
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-desktop.jpg");
  }
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .site-list__item--active {
    display: block;
  }

  .main-nav--closed .site-list__item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    background-color: #6a4d38;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__wrapper::before {
    content: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-left: 21px;
    padding-right: 21px;
    text-align: left;
  }

  .main-nav--nojs .user-list__item {
    display: block;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .prices__condition br {
    content: "";
  }

  .prices__condition br::after {
    content: "\00a0";
  }
}