// Файл для переменных.

// Экраны на ширину.
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthDesktop: 1200px;
$mobileWidthOnly: 767px;

// Экраны н ретину.
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета.
$bg-darkgrey: #242424;
$bg-lightgrey: #f8f5f2;
$lightbronze: #826550;
$darkbronze: #6a4d38;
