.portfolio {
  color: #000000;
  background-color: $bg-lightgrey;

  @include decorative-triangle-lightgray;
  z-index: 2;

  @include media-desktop {
    &::after{
      content: none;
    }
  }
}

.portfolio__wrapper {
  padding: 30px 20px 35px;

  @include media-tablet {
    padding: 55px 65px 75px;
  }

  @include media-desktop {
    padding: 55px 0 90px;
  }
}

.portfolio__header {
  margin-bottom: 28px;
  @include media-tablet {
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
  }
}

.portfolio__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @include media-tablet {
    font-size: 40px;
    line-height: 40px;
    text-align: start;
  }
}

.portfolio__to-main {
  display: none;

  @include media-tablet {
    display: block;
    margin-bottom: auto;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
  }
}

.portfolio__list {
  @include list-reset;

  @include media-desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  @include media-tablet {
    flex-direction: row;
    margin-bottom: 40px;
    padding: 0;
  }

  @include media-desktop{
    flex-direction: column;
    margin-bottom: 0;
    width: 293px;
  }
}


.portfolio__item--month-work {

  @include media-desktop{
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;

    .portfolio__image {
      width: 480px;
    }

    .portfolio__text-wrapper {
      padding: 130px 110px 10px 40px;
      border: 1px solid #e5ddd5;
      border-left: 0;
    }

    .portfolio__service {
      text-align: end;

      &--haircut {
        width: 92px;
      }

      &--shaving {
        width: 86px;
      }

      &--beard {
        width: 86px;
      }

      &--mustache {
        width: 82px;
      }
    }
  }
}

.portfolio__image-wrapper {
  margin: 0;
  background-color: rgb(255, 240, 223);

  @include media-tablet {
    flex-grow: 0;
  }
}

.portfolio__image {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: auto;

  @include media-tablet {
    width: 270px;
  }

  @include media-desktop{
    width: 100%;
  }
}

.portfolio__text-wrapper {
  padding: 20px 10px 0;
  border: 1px solid #e5ddd5;
  border-top: 0;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 40px 55px 15px 50px;
    border: 1px solid #e5ddd5;
    border-left: 0;
  }

  @include media-desktop {
    padding: 30px 30px 5px;
    border: 1px solid #e5ddd5;
    border-top: 0;
  }
}

.portfolio__services {
  @include list-reset;

  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include media-tablet {
    justify-content: space-between;
  }
}

.portfolio__service {
  margin-bottom: 25px;
  width: 50%;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;

  &--haircut {
    padding-left: 35px;
    background-image: url("../img/scissors-icon.svg");
    background-size: 21px 20px;
    background-position: 12% 50%;

    @include media-desktop {
      background-position: 0% 50%;
    }
  }

  &--shaving {
    padding-left: 15px;
    background-image: url("../img/beard-icon.svg");
    background-size: 24px 21px;
    background-position: 9% 50%;

    @include media-desktop {
      background-position: 0% 50%;
    }
  }

  &--beard{
    padding-left: 23px;
    background-image: url("../img/beard-icon.svg");
    background-size: 24px 21px;
    background-position: 9% 50%;

    @include media-desktop {
      background-position: 0% 50%;
    }
  }

  &--mustache {
    padding-left: 20px;
    background-image: url("../img/mustache-icon.svg");
    background-size: 46px 12px;
    background-position: 0% 50%;
  }

  @include media-desktop {
    background-position: 0% 50%;
  }
}
